
body {
    font: 16px/1.8em 'Open Sans', Helvetica, Arial, Helvetica, sans-serif;
    color: #444;
    background: #fff;
    -webkit-font-smoothing: antialiased;
}

#container-0 {
  margin: 0 auto;
  width: 800px;
  margin-bottom: 50px;
}

