Test-Command: env ALTTAB=alttab test/run-in-xvfb.test
Depends:
 procps,
 x11-apps,
 x11-utils,
 xdotool,
 xvfb,
 @,
Features:
 test-name=upstream,
Restrictions:
 allow-stderr,

Test-Command: debputy reformat --no-auto-fix --linter-exit-code
Depends:
 dh-debputy,
 python3-lsprotocol,
Features:
 test-name=debian-debputy,
Restrictions:
 superficial,
