Source: alttab
Section: x11
Priority: optional
Maintainer: Alexander Kulak <sa-dev@odd.systems>
Build-Depends: debhelper (>= 12~),
               libx11-dev,
               libxmu-dev,
               libxft-dev,
               libxrender-dev,
               libxrandr-dev,
               libpng-dev,
               libxpm-dev,
               uthash-dev,
               autoconf,
               automake
Standards-Version: 4.3.0
Vcs-Git: https://github.com/sagb/alttab.git -b debian/jessie
Vcs-Browser: https://github.com/sagb/alttab/tree/debian/jessie
Homepage: https://sagb.github.io/alttab

Package: alttab
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: fonts-dejavu-core
Enhances: jwm, twm, evilwm, ratpoison, fluxbox, matchbox, blackbox,
 cwm, wm2, aewm, ctwm, lwm, sawfish, awesome, i3-wm
Description: task switcher for minimalistic WMs or standalone X session
 alttab provides convenient visual interface and switching on releasing
 Alt, not on pressing Tab key. Being lightweight and depending only on
 basic X11 libs, it still features customizable look and behaviour.
