Source: alttab
Section: x11
Priority: optional
Maintainer: Peter Pentchev <roam@debian.org>
Build-Depends: debhelper-compat (= 13),
               dh-sequence-single-binary,
               libx11-dev,
               libxmu-dev,
               libxft-dev,
               libxrender-dev,
               libxrandr-dev,
               libpng-dev,
               libxpm-dev,
               uthash-dev,
               autoconf,
               automake,
               ronn,
               procps <!nocheck>,
               xnee <!nocheck>,
               xvfb <!nocheck>,
               x11-apps <!nocheck>,
               x11-utils <!nocheck>,
Standards-Version: 4.6.2
Vcs-Git: https://salsa.debian.org/debian/alttab.git
Vcs-Browser: https://salsa.debian.org/debian/alttab
Homepage: https://sagb.github.io/alttab
Rules-Requires-Root: no

Package: alttab
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: fonts-dejavu-core
Enhances: jwm, twm, evilwm, ratpoison, fluxbox, matchbox, blackbox,
 cwm, wm2, ctwm, lwm, sawfish, awesome, i3-wm
Description: task switcher for minimalistic WMs or standalone X session
 alttab provides convenient visual interface and switching on releasing
 Alt, not on pressing Tab key. Being lightweight and depending only on
 basic X11 libs, it still features customizable look and behaviour.
